<a
    title="{{title}}"
    rel="me"
    class="social"
    href="{{href}}">
    {% if fontawesome %}

        <i class="{{icon}}"></i>
    {% else %}
        <svg><use href="{{icon}}" xlink:href="{{icon}}"></use></svg>
    {% endif %}
</a>
