---

layout: layouts/main.liquid
stylesheet:

---
<head><link rel="stylesheet" type="text/css" href="/assets/styles/blog.css"></head>    
{%  render 'partials/navbar.liquid' %}

<div>
<div class="blog">
    
   <img class="thumbnail" src="{{ image }}" alt="{{ img-alt }}">

    <h1 class="title"> {{ title }} </h1>

    <p class="subtitle"> {{description}} </p>
    <p>
      {{ date | postDate }} •
      {% for tags in tags %}
        <a class="link" style="display: inline;" href="/blog/{{ tags }}">
        #{{ tags }}</a> 
      {% endfor %}
      </p>

    <article class="content">

    {{ content }}

    </article>


</div>
</div>
