---

layout: article
style: layouts/blog
blogpost: True

---

        <div><img class="thumbnail" src="{{ image }}" alt="{{ imgalt }}"></div>

        <h1 id="title"> {{ title }} </h1>
        <p id="subtitle"> {{description}} </p>
        <p style="text-align: center;">
            <time datetime="{{ date }}">{{ date | postDate}}</time> •
            {% for tag in tags | getKeys | filterTagList | sortAlphabetically %}
            <a  style="display: inline;" href="/blog/{{ tag }}">
            #{{ tag }}</a>
             {% endfor %}
          </p>
    <section>
        <details id="table-of-contents" class="textured-background box" open>
            <summary> Table of Contents </summary>
            {{ content | toc }}
        </details>

        <div id="post">
            {{ content }}
        </div>
    </section>