<!DOCTYPE html>
<html lang="en" >
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="title" property="og:title" content="{{ title }}">
    <meta name="description" property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ image }}"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="keywords" content="Programming, art, aninus, aninuscsalas, aninusmuffin">

    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/base.css">
    <link rel="preload" as="font" href="/assets/fonts/AdwaitaSans-Regular.subset.woff2" crossorigin>
    <link rel="icon" type="image/x-icon" href="{{ favicon }}">
    <meta name="generator" content="Eleventy">
    </head>

<body >
  <div style="  position: relative; min-height: 100vh;">
  <main style="padding-bottom: 10rem;">
    {{ content }}
  </main>

<footer class="textured-background">

  <div style="align-self: flex-end;">
    <p style="font-size:medium;">
    Made with ❤️ using <a class="link" href="https://11ty.dev">11ty</a>, 
    <a class="link" href="https://liquidjs.com/index.html">LiquidJS</a>, 
    <a class="link" href="https://tailwindcss.com/">Tailwind</a> and 
    <a class="link" href="https://fontawesome.com/">Fontawesome</a>
    </p>
  </div>
  <a class="link" href="https://github.com/aninusmuffin/aninus.com/blob/main/{{ page.inputPath | uri_escape }}">Edit this page on GitHub</a>


</footer>
</div>

</body>

{% getBundle "fontawesome" %}
{% getBundle "customicons" %}

</html>


