<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="title" property="og:title" content="{{ title }}">
    <meta name="description" property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ image }}"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="keywords" content="Programming, art, aninus, aninuscsalas, aninusmuffin">

    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/base.css">
    <link rel="preload" as="font" href="/assets/fonts/AdwaitaSans-Regular.subset.woff2" crossorigin>
    <link rel="preload" as="font" href="/assets/fonts/Bagnard.woff2" crossorigin>
    <link rel="icon" type="image/x-icon" href="{{ favicon }}">
    <meta name="generator" content="Eleventy">

    {% if blogpost %}
    <meta property="og:type" content="article">
    {% endif %}
    {% if style %}
    <link rel="stylesheet" type="text/css" href="/assets/styles/{{ style }}.css">
    {% endif %}

    <style>
     svg {
         width: 2rem;
         height: 2rem;
     }
    </style>

    <link rel="stylesheet" type="text/css" href="{% getBundleFileUrl "css" %}" >

</head>

<body>
    <div style="position: relative; min-height: 100vh;">

        {% if navbar %}
            {% renderTemplate "webc" %}
            <navbar></navbar>
            {% endrenderTemplate %}
        {% endif %}




        <main style="padding-bottom: 16rem;">

            {{ content }}

        </main>

        {%  render 'partials/footer.liquid' %}

    </div>
<div style="display: none">
    {% getBundle "fontawesome" %}
    {% getBundle "customicons" %}
</div>
</body>

</html>


